body{
    margin: 50px;
    border: 6px solid gold;
    border-radius: 50px;
    


   
}

div{
    background-color: black;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px -10px red;

    display: flex;
    
    
}

h1{
    color: white;
    transform: rotate(-20deg);
    align-items: center;
}

ul{
    list-style: none;
}

li{
    color: yellow;
    font-size: 20px;
    padding: 10px;
}